#Menu{
    list-style:none;
    width:100%;
    text-align:center;
}
#Menu ul{
    margin: 0;
    padding:0;
    display:flex;
    justify-content: center;
}
#Menu li{
    list-style-type:none;
    display: inline-block;
    border:10px solid black;
    line-height: 50px;
    background-color: whitesmoke;
}
#Menu li .current{
    border:7px ridge rgb(133, 106, 40);
}
#Menu li a{
    display:block;
    padding: 8px 20px;
    color:black;
    text-decoration: none;
    width:200px;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}
#Menu li:hover{
    background-color: gray;
}
